[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/range-v3"]
	path = third_party/range-v3
	url = https://github.com/ericniebler/range-v3.git
